websockets
pystray
Pillow==12.2.0
pyperclip
PyQt6
AnalogSensePy>=1.0.7
winotify; sys_platform == "win32"
certifi
markdown
evdev; sys_platform == "linux"
hidapi; sys_platform == "win32"
hid; sys_platform == "linux"